/* Main Body Styles */
body {
    font-family: 'Fredoka One', cursive; /* Playful font */
    background-color: #FFD700; /* Gold background color */
    text-align: center;
    padding: 20px;
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Prevent scrollbars */
}

h1 {
    font-size: 36px;
    color: #FF6347; /* Tomato red color */
}

p {
    font-size: 20px;
    color: #000;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #FF6347; /* Tomato red border */
}

.fun-fact {
    font-size: 24px;
    color: #008000; /* Green color */
}

.flower-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0; /* Start with 0 opacity */
    animation: fade-oscillation 6s linear infinite; /* Adjust the duration as needed */
}

@keyframes fade-oscillation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.gif {
    max-width: 100%; /* Ensure the GIF fits within its container */
    display: block; /* Remove any inline spacing */
    margin: 20px auto; /* Center the GIF horizontally */
}

.cursive-button {
    font-family: 'Fredoka One', cursive;
}

.flower {
    position: absolute;
    display: none;
}

#strobe-overlay {
    display: none; /* Initially hide the strobe lights overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

#strobe-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200%;
    max-height: 100%;
    opacity: 50%;
}


